[Desktop Entry]
Type=Application
Version=1.4
Name=Spotify
Comment=Spotify Web
Keywords=;
Categories=GTK;;
Icon=FFPWA-01M0MDJMSSCDSF46BGGXEZX7BM
Exec=/usr/bin/firefoxpwa site launch 01M0MDJMSSCDSF46BGGXEZX7BM --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01M0MDJMSSCDSF46BGGXEZX7BM
