[Desktop Entry]
Type=Application
Version=1.4
Name=Google AI Studio
Comment=
Keywords=;
Categories=GTK;;
Icon=FFPWA-01M0MCWC8E02JJKRZG9P19N6WX
Exec=/usr/bin/firefoxpwa site launch 01M0MCWC8E02JJKRZG9P19N6WX --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01M0MCWC8E02JJKRZG9P19N6WX
