[Desktop Entry]
Type=Application
Version=1.4
Name=Google Drive
Comment=
Keywords=;
Categories=GTK;;
Icon=FFPWA-01M0MEVDRBQMTVX6PKQF9WM1GG
Exec=/usr/bin/firefoxpwa site launch 01M0MEVDRBQMTVX6PKQF9WM1GG --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01M0MEVDRBQMTVX6PKQF9WM1GG
