[Desktop Entry]
Type=Application
Version=1.4
Name=Gemini Notebook
Comment=
Keywords=;
Categories=GTK;;
Icon=FFPWA-01M0MDBJ35RAN5B8D2EH8WGE7J
Exec=/usr/bin/firefoxpwa site launch 01M0MDBJ35RAN5B8D2EH8WGE7J --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01M0MDBJ35RAN5B8D2EH8WGE7J
